*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    width: 600px;
    align-items: center;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border: 1px solid blueviolet;
    padding: 20px;
    flex-direction: column;
    background-color:#b7e3f3;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);

}

@media (max-width:768px) {
    .container-big{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: auto;
        margin-top: 50px;
    }

    .container{
        width: 80%;
        height: fit-content;
        padding: 10px;
        margin: 10px;
    }
    h1{
        font-size: 18px;
    }
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    text-transform: uppercase;
    color: blue;
    margin: 20px;
}

button{
    background-color: #b7e3f3;
  color: #0064a2;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
}
button :active{
    transform: (0.95);
}

.container-big{
    text-align: center;
}

